/** 
First get the info in and make it presentable, without 3d
Then go and make it 3d and whatever else.
**/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
	text-decoration: none;
	color: black;
}

a:hover {
	color: violet;
}

a:active {
	color: green;
}

#navigation {
	border: 1px solid blue;
	padding: 20px;
	font-size: 20px;
	display: block;
}

#navigation ul {
	/* border: 1px solid red; */
	display: flex;
}
#navigation ul li {
	margin-left: 10px;
}

#info-div {
	border: 1px solid blue;
	/* margin: 20px 20px 0px 20px; */
	width: 600px;
	height: auto;
	display: block;
}

#info-div h1 {
	font-size: 25px;
	font-weight: bold;
	text-align: center;
}

#info-div h3 {
	font-size: 25px;
	text-align: center;
}

#info-div p {
	/* border: 1px solid red; */
	text-align: center;
	padding-left: 100px;
	padding-right: 100px;
}

#info-div ul {
	text-align: center;
}

#skill-div {
	border: 1px solid red;
	/* float: right; */
	width: 600px;
	height: auto;
	display: block;
}

#skill-div h3 {
	font-size: 25px;
	text-align: center;
}

#skill-div ul {
	text-align: center;
}
